In [5]:
import sklearn
import numpy as np
import pandas as pd

In [40]:
# Implicit Index
data = [1,2,3,4,"Hello", True, 1.6]
a = pd.Series(data)
a

0        1
1        2
2        3
3        4
4    Hello
5     True
6      1.6
dtype: object

In [42]:
# Explicit Index
data = [1,2,3,4,"Hello", True, 1.6]
a = pd.Series(data, index=[10,20,30,40,50,60,70])
a

10        1
20        2
30        3
40        4
50    Hello
60     True
70      1.6
dtype: object

In [50]:
# Specify as {index:value} foramt
data = {"i1": 10, "i2":20, "i3":"Hello"}
a = pd.Series(data)
a

i1       10
i2       20
i3    Hello
dtype: object

In [54]:
# select a subset of records
print(a[:2]) # First 2 records
print("\n")
print(a[["i1", "i3"]]) # First and Third record

i1    10
i2    20
dtype: object


i1       10
i3    Hello
dtype: object

In [63]:
print("Labels: ", a.axes) # Just the index names
print("Values: ", a.values) # Just the values

print("Element count: ",a.size)
print("\n First n:\n ", a.head(2))
print("\n Last n:\n", a.tail(2))

Labels:  [Index(['i1', 'i2', 'i3'], dtype='object')]
Values:  [10 20 'Hello']
Element count:  3

 First n:
  i1    10
i2    20
dtype: object

 Last n:
 i2       20
i3    Hello
dtype: object

In [69]:
# Dataframe

# Create


# Each record is a dictionary of (colmn_name:value)
data = [{"Name": "rg", "age": 33}, {"Name": "foo", "age": 20}, {"Name": "bar", "age": 40}]
b =  pd.DataFrame(data)
print(b)
print("\n\n")

# 1 dictionary. Each key is a column name
data = {"Name" : ["rg", "foo", "bar"], 
        "age" : [33,20,40]  
       }
b = pd.DataFrame(data)
print(b)
print("\n\n")


# 2 lists. 1 for column names and 1 for values
data = [["rg", 33], ["foo", 20], ["bar",40]]
b = pd.DataFrame(data, columns= ["Name", "age"])
print(b)
print("\n\n")

  Name  age
0   rg   33
1  foo   20
2  bar   40



  Name  age
0   rg   33
1  foo   20
2  bar   40



  Name  age
0   rg   33
1  foo   20
2  bar   40

In [74]:
# Stats
print(b.axes)
print(b.size)
print(b.head(2), "\n")
print(b.tail(2))

[RangeIndex(start=0, stop=3, step=1), Index(['Name', 'age'], dtype='object')]
6
  Name  age
0   rg   33
1  foo   20

  Name  age
1  foo   20
2  bar   40

In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame({"c1": [1,None,3], "c2": [4,None,None]})
df

    c1   c2
0  1.0  4.0
1  NaN  NaN
2  3.0  NaN

In [10]:
df.isna()

      c1     c2
0  False  False
1   True   True
2  False   True

In [11]:
df.isna().sum()

c1    1
c2    2
dtype: int64